<div>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :URL %>
  <%= f.text_field :url %>
  <br/>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br/>
  <div class='control-group'>
      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
        <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
  </div>
  <%= f.submit %>
<% end %>
</div>

