  <h3><%= obj.username %>'s Activity</h3>
  <hr/>

<!--   <div class="show_user_tabs, span5 well">
    <h4><strong>Recent Posts:</strong></h4>
      <ul class="unstyled">
        <% obj.posts.reverse!.each do |post| %>
          <li><h5><%= link_to post.title, post_path(post), class: "urls" %></h5></li>
        <% end %>
      </ul>
  </div>

  <div class="show_user_tabs, span5 well">
    <h4><strong>Recent Comments:</strong></h4>
      <ul class="unstyled">
        <% obj.comments.reverse!.each do |comment| %>
          <li><h5><%= link_to comment.body, post_path(comment.post), class: "urls" %></h5></li>
        <% end %>
      </ul>
  </div> -->

<div class="show_user_tabs; span5">
  <h4><strong>Recent Posts:</strong></h4>
  <% obj.posts.reverse.each do |post|%>
  <div class='span4 well'>
    <ul class='unstyled'>
      <%= render post.categories %>
      <li><h4><%= link_to post.title, fix_url(post.url), class: 'urls' %></h4></li>
      <li><%= truncate(post.description, length: 180, separator: " ") %></li>
      <br/>
      <li><small>Posted by <strong><%= link_to post.user.username, user_path(post.user), class: "names" %> </strong><%= display_time(post.created_at)%> ago</small></li>
      <li><small><%= link_to "#{post.comments.count} comments", post_path(post), class: "urls" %></small></li>
    </ul>
  </div>
  <% end %>
</div>

<div class="show_user_tabs; span5">
  <h4><strong>Recent Comments:</strong></h4>
  <% obj.comments.reverse.each do |comment| %>
    <div class='span4 well'>
      <ul class='unstyled'>
        <li><h5><%= link_to comment.body, post_path(comment.post), class: "urls" %></h5></li>
        <li><small>Posted <%= display_time(comment.created_at) %> ago</small></li>
      </ul>
    </div>
  <% end %>
</div>

