

<div class="lead"><h3><%= @post.title %></h3></div>
<hr/>
<h3><%= @post.url %></h3>
<p class="lead"><%= @post.description %></p>
<% if logged_in? %>
  <small><%= link_to "Edit this post", edit_post_path %></small>
<% end %>


<div>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body, "New Comment" %>
    <%= f.text_area :body %>
    <br/>
    <%= f.submit %>
  <% end %>
<div>


<h5>Comments:</h5>
<%= render 'shared/errors', obj: @comment %>
<ul class="unstyled">
<% @post.comments.each do |comment| %>
  <li><%= comment.body %></li>
<% end %>
</ul>

