<ul id = 'nav_bar' class="nav nav-pills">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
    <li>
     <%= link_to 'New Post', new_post_path, :class => 'link-btn' %>
    </li>
    <li>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Categories
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
          <% if logged_in? && current_user.admin? %>
            <li class='divider'></li>
            <li>
              <%= link_to "New Category", new_category_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
    <li>
      <%= link_to "#{current_user.username}\'s Profile", profile_path, class: "push_right"  %>
    </li>
    <li>
      <%= link_to 'Logout', logout_path, :class => 'link-btn'%>
    </li>
  <% else %>
    <li>
      <%= link_to 'Register', register_path, :class => 'link-btn' %>
    </li>
    <li>
      <%= link_to 'Log In', login_path, :class => 'link-btn' %>
    </li>
  <% end %>
</ul>
